@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

header {
  width: 100%;
  height: 75px;
  background: #222222;
  .container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    .header-left {
      display: flex;
      align-items: center;
      padding-top: 18px;
      form {
        margin-left: 41px;
      }
    }
    .header-right {
      display: flex;
      align-items: center;
      padding-top: 18px;
      img {
        margin-left: 33px;
      }
      .side-bar-menu-burger {
        position: relative;
        .side-bar {
          display: none;
          position: absolute;
          background: #ffffff;
          padding: 37px 0px 157px 55px;
          margin: 22px 100px;
          line-height: 27px;
          width: 200px;
          font-family: "Lato", sans-serif;
          font-weight: 400;
          z-index: 2000000;
          h3 {
            padding-bottom: 24px;
          }
          i {
            float: right;
            margin: -30px 40px;
            font-size: 16px;
            color: #6f6e6e;
          }
          .side-bar-menu {
            a {
              display: block;
              font-size: 14px;
              color: #6f6e6e;
              text-decoration: none;
              margin-left: 16px;
              .side-bar-chapter {
                color: #f16d7f;
                margin-left: -16px;
                padding: 20px 0px 12px 0px;
              }
            }
          }
        }
      }
      .side-bar-menu-burger:hover .side-bar {
        display: block;
      }
    }
  }
}

.brand-block {
  width: 100%;
  background: #f1e4e6;

  .brand-block-container {
    display: flex;
    max-width: 1140px;
  }

  .text-brand-block {
    display: flex;
    align-items: center;
    .line {
      background: #f16d7f;
      width: 12px;
      height: 92px;
      margin-right: 16px;
    }
    .text-brand {
      max-width: 377px;
      font-style: normal;
      font-size: 16px;
      font-family: "Lato", sans-serif;
      color: #222222;
      h1 {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
      }
      .txt-color-brand {
        color: #f16d7f;
      }
    }
  }
}

.block-section {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 65px;

  .photo-section {
    position: relative;
    margin-bottom: 30px;
  }
  p {
    position: absolute;
    font-family: "Lato", sans-serif;
    top: 105px;
    left: 105px;
    right: 105px;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    .txt-pink-section {
      color: #f16d7f;
      font-size: 20px;
      line-height: 28px;
    }
    .accesories-txt {
      top: 65px;
      bottom: 65px;
    }
  }
}

.card-block {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 96px;
  .card-block-heading {
    text-align: center;
    font-family: "Lato", sans-serif;
    margin-bottom: 57px;
    h2 {
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 36px;
      color: #222222;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #9f9f9f;
      margin-top: 6px;
    }
  }
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card-items {
      max-width: 360px;
      background: #f8f8f8;
      margin-bottom: 30px;
      box-sizing: border-box;
      font-family: "Lato", sans-serif;
      position: relative;
      .card {
        text-decoration: none;
        .heading-card {
          font-size: 13px;
          line-height: 16px;
          margin: 25px 0px 12px 17px;
          color: #000000;
        }
        p {
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          color: #5d5d5d;
          margin: 0px 28px 18px 17px;
        }
        .price {
          font-size: 16px;
          line-height: 19px;
          color: #f16d7f;
          margin-bottom: 20px;
        }
      }
      .add-box {
        width: 100%;
        position: absolute;
        top: 188px;
        justify-content: center;
        display: none;
        .add {
          border: 1px solid #ffffff;
          padding: 10px;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          .add-txt {
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            font-family: "Lato", sans-serif;
            margin-left: 11px;
          }
        }
      }
    }
  }
  .card-items:hover img {
    filter: brightness(30%);
  }

  .card-items:hover .add-box {
    display: flex;
  }
  .card-items:hover .card-add {
    filter: brightness(100%);
  }
  .button-browse {
    text-align: center;
    margin-top: 48px;
    a {
      font-size: 16px;
      line-height: 19px;
      color: #f26376;
      font-family: "Lato", sans-serif;
      border: 1px solid #ff6a6a;
      padding: 14px 38px 14px 38px;
      text-decoration: none;
    }
    a:hover {
      color: #ffffff;
      background: #f16d7f;
    }
  }
}

.offer-block {
  margin-top: 109px;
  background: #222224;
  padding: 103px 104px;
  .offer-card {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .offer {
    align-items: center;
    text-align: center;
    color: #fbfbfb;
    max-width: 360px;
    .heading-offer {
      font-family: "Lato", sans-serif;
      font-size: 19.96px;
      line-height: 24px;
      margin: 25px 16px;
    }
    .sales-offer {
      margin-top: 20px;
    }
    p {
      font-size: 13px;
      line-height: 17px;
    }
  }
}

.contact-block {
  background-image: url(img/subscribe.png);
  background-size: cover;
  .contact-block-contant {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 130px;
    .contact-left {
      max-width: 360px;
      text-align: center;
      font-family: "Lato", sans-serif;
      margin-top: 86px;
      p {
        margin-top: 40px;
        font-size: 20px;
        line-height: 24px;
        color: #222224;
      }
    }
    .contact-right {
      text-align: center;
      font-family: "Lato", sans-serif;
      margin-top: 150px;
      .contact-sub {
        font-size: 24px;
        line-height: 167%;
        color: #222224;
        font-weight: 700;
      }
      p {
        font-size: 18px;
        line-height: 28px;
      }
      #searchbox {
        margin-top: 32px;
        #email {
          padding: 14px 130px 12px 22px;
          border-radius: 35px 0px 0px 35px;
          border: none;
          font-size: 14px;
          line-height: 17px;
          background: #e1e1e1;
          outline: none;
        }
        #submit {
          border: none;
          background: #f16d7f;
          color: #ffffff;
          padding: 14px 14px 12px 16px;
          border-radius: 0px 35px 35px 0px;
          font-size: 14px;
          line-height: 17px;
          margin-left: -5px;
        }
      }
    }
  }
}
footer {
  background: #222224;
  .footer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .footer-left {
      font-size: 16px;
      line-height: 19px;
      color: #fbfbfb;
      font-family: "Lato", sans-serif;
      margin: 30px 30px;
    }
    .footer-right {
      margin-top: 24px;
      a {
        background: #ffffff;
        margin-left: 7px;
        box-sizing: border-box;
        max-width: 32px;
        max-height: 32px;
        padding: 9px 11px 9px 11px;
      }
      i {
        color: #000000;
        font-size: 16px;
        text-align: center;
      }
      .fa-facebook-f {
        padding: 0px 3px 0px 3px;
      }

      .fa-pinterest-p {
        padding: 0px 3px 0px 3px;
      }
      a:hover {
        background: #f16d7f;
        i {
          color: #ffffff;
        }
      }
    }
  }
}

//CATALOG

.arrivals {
  background: #f8f3f4;
  .container-cotalog {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 59px 0px 60px 0px;
    font-family: "Lato", sans-serif;
  }
  h1 {
    color: #f16d7f;
  }
  .pink-arrivals {
    color: #f16d7f;
  }
}

.filters {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
  padding-top: 51px;
  details {
    display: block;
    position: absolute;
    cursor: pointer;
    background: #ffffff;
    line-height: 17px;
    width: 360px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    z-index: 10000;
    .summary {
      list-style: none;
      margin-bottom: 16px;
    }
    .summary::before {
      content: "FILTER";
    }
    .summary::after {
      content: url("img/bars.svg");
      margin-left: 11px;
    }
    .summary:hover {
      color: #ef5b70;
    }

    .summary:hover::after {
      content: url("img/bars-pink.svg");
    }

    .filter_bars {
      a {
        text-decoration: none;
        display: block;
        font-size: 16px;
        color: #6f6e6e;
        margin-left: 17px;
        max-width: 360px;
        box-sizing: border-box;
        background: #ffffff;
        padding-bottom: 11px;
      }
      .filter-chapter-block {
        display: flex;
        width: 327px;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 24px;
        .filter-line {
          width: 5px;
          height: 37px;
          padding-top: 11px;
          background: #f16d7f;
        }
        .filter-chapter {
          padding: 11px;
        }
        .filter-chapter:hover {
          color: #ef5b70;
        }
      }
    }
  }
}

.filter-center {
  display: flex;
  float: right;
  margin-right: 36%;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  font-family: "Lato", sans-serif;
  details {
    display: block;
    cursor: pointer;
    position: relative;
    summary {
      list-style: none;
      margin-left: 27px;
    }
    summary::after {
      content: url("img/filter.svg");
      margin-left: 10px;
    }
  }
  .checkbox {
    background: #ffffff;
    padding-left: 30px;
    padding-top: 7px;
    position: absolute;
    z-index: 100000;
    div {
      margin-bottom: 6px;
      label {
        margin-left: 9px;
      }
    }
  }
}

//product

.product-block {
  padding-bottom: 50px;
  background: #f7f7f7;
  .carousel {
    .carousel-inner {
      .carousel-item {
        background: #f7f7f7;
        img {
          height: 597px;
        }
      }
      .carousel-control-prev {
        background: #2a2a2a26;
        width: 47px;
        height: 47px;
        margin-top: 15%;
      }
      .carousel-control-prev-icon {
        background-image: none;
        i {
          transform: rotate(270deg);
          font-size: 30px;
          color: #000000;
          text-align: center;
        }
        i:hover {
          color: #f16d7f;
        }
      }
      .carousel-control-next {
        background: #2a2a2a26;
        width: 47px;
        height: 47px;
        margin-top: 15%;
        .carousel-control-next-icon {
          background-image: none;
          i {
            transform: rotate(90deg);
            font-size: 30px;
            color: #000000;
            text-align: center;
          }
          i:hover {
            color: #f16d7f;
          }
        }
      }
    }
  }
}
.card-product {
  max-width: 1141px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  margin-top: -100px;
  z-index: 9000000;
  background: #ffff;
  padding-bottom: 65px;
  border: 1px solid #eaeaea;
  h5 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #f16d7f;
    margin-bottom: 12px;
  }
  .line-pink-product {
    background: #f16d7f;
    width: 63px;
    height: 3px;
    margin: 0 auto;
  }
  h3 {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4d4d4d;
    margin-top: 12px;
  }
  p {
    max-width: 555px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5e5e5e;
    padding: 48px 0px 32px 0px;
    font-family: "Lato", sans-serif;
  }
  .price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #ef5b70;
    margin-bottom: 65px;
  }
  hr {
    max-width: 641px;
    margin: 0 auto;
  }
  .add-product {
    max-width: 211px;
    margin: 0 auto;
    .add-button {
      display: flex;
      text-decoration: none;
      border: 1px solid #ff6a6a;
      justify-content: center;
      align-items: center;
      padding: 15px;
      .add-txt-product {
        padding: 0px;
        font-size: 16px;
        line-height: 19px;
        color: #f26376;
      }
    }
  }
}

.filter-card {
  display: flex;
  margin-left: 30%;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  font-family: "Lato", sans-serif;
  padding: 65px 0px 48px 0px;
  details {
    display: block;
    cursor: pointer;
    summary {
      list-style: none;
      margin-left: 27px;
    }
    summary::after {
      content: url("img/filter.svg");
      margin-left: 10px;
    }
  }
  .checkbox {
    background: #ffffff;
    padding-left: 10px;
    padding-top: 7px;
    padding-right: 10px;
    margin-left: 50px;
    z-index: 100000;
    text-align: start;
    div {
      margin-bottom: 6px;
      label {
        margin-left: 9px;
      }
    }
  }
}
.card-block .cards .card-items .card {
  background: #f8f8f8;
  border: none;
}

.card-block-product {
  margin-bottom: 128px;
}

//Cart
.shopping-cart {
  background: #f8f3f4;

  .cart-container {
    max-width: 1080px;
    margin: 0 auto;
    h1 {
      color: #f16d7f;
      font-size: 24px;
      line-height: 29px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      padding: 60px 0px 60px 0px;
    }
  }
}
.cart-product-block {
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 96px;
  .cart-product {
    display: flex;
    .cart-product-left {
      margin-bottom: 130px;
      .cart-product {
        display: flex;
        background: #ffff;
        box-shadow: 5px 10px 25px 0px rgba(34, 60, 80, 0.2);
        margin-bottom: 40px;
        position: relative;
        h3 {
          font-size: 24px;
          line-height: 29px;
          color: #222222;
          margin: 22px 97px 42px 0px;
        }
        .cart-product-txt {
          font-family: "Lato", sans-serif;
          font-weight: 300;
          font-size: 22px;
          line-height: 30px;
          color: #575757;
          margin-left: 31px;
          .pink-price {
            color: #f16d7f;
          }
          form {
            input {
              font-size: 18px;
              line-height: 22px;
              color: #656565;
              padding-left: 15px;
              margin-left: 24px;
              max-width: 28px;
              border: 1px solid #eaeaea;
            }
          }
        }
        .cross {
          position: absolute;
          left: 540px;
          top: 28px;
        }
      }
      .btn-cart-block {
        margin-top: 73px;
      }
      .btn-cart {
        text-decoration: none;
        font-weight: 300;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-top: 100px;
        padding: 17px 40px 16px 39px;
        border: 1px solid #a4a4a4;
      }
      .continue-btn {
        margin-left: 120px;
      }
    }
    .product-cart-form {
      margin-left: 128px;
      font-family: "Lato", sans-serif;
      h3 {
        margin-bottom: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
      }
      input {
        display: block;
        padding: 13px 200px 16px 17px;
        margin-bottom: 20px;
        border: 1px solid #a4a4a4;
        outline: none;
      }
      input::placeholder {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        font-family: "Lato", sans-serif;
        color: #b1b1b1;
      }
      input:hover::placeholder {
        color: #000000;
      }
      .input_zip {
        margin-bottom: 43px;
      }
      .btn-cart {
        text-decoration: none;
        font-weight: 300;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: #4a4a4a;
        padding: 17px 40px 16px 39px;
        border: 1px solid #a4a4a4;
      }
      .total-price-cart {
        background: #f5f3f3;
        max-width: 360px;
        max-height: 214px;
        margin-top: 57px;
        padding: 42px 44px;
        p {
          text-align: right;
        }
        .sub-total {
          font-size: 11px;
          line-height: 13px;
          color: #4a4a4a;
          margin-bottom: 12px;
        }
        .sub-price {
          margin-left: 20px;
        }
        .grand-total {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #222222;
        }
        .grand-price {
          margin-left: 20px;
          color: #f16d7f;
          font-weight: 700;
        }
        hr {
          color: #e2e2e2;
          margin-bottom: 27px;
          margin-top: 21px;
        }
        .btn-pink-cart {
          padding: 15px 43px;
          text-align: center;
          text-decoration: none;
          background: #f16d7f;
          font-weight: 300;
          font-size: 16px;
          line-height: 19px;
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  header {
    .container {
      max-width: 660px;
      .header-right {
        .side-bar-menu-burger {
          .side-bar {
            margin: 0 auto;
          }
        }
      }
    }
  }
  .brand-block {
    .brand-block-container {
      img {
        width: 386px;
        height: 368px;
      }
    }
  }
  .block-section {
    max-width: 734px;
    img {
      max-width: 232px;
    }
    .accesorice-img {
      max-width: 734px;
    }
    .photo-section {
      p {
        top: 59px;
        left: 36px;
        right: 36px;
      }
      .accesories-txt {
        top: 35px;
        bottom: 75px;
      }
    }
  }
  .card-block {
    max-width: 734px;
    .media-none {
      display: none;
    }
  }
  .offer-block {
    padding: 48px 255px;

    .offer-card {
      display: inline-block;
      align-items: center;
    }
    .offer {
      max-width: 360px;
      margin-bottom: 48px;
      padding-left: 20%;
    }
    .offer:last-of-type {
      margin-bottom: 0;
    }
  }
  .contact-block {
    .contact-block-contant {
      max-width: 734px;
      display: inline-block;
      margin-left: 30%;
    }
  }
  footer {
    .footer-container {
      max-width: 660px;
    }
  }
  .arrivals {
    .container-cotalog {
      margin-left: 2%;
      margin-right: 2%;
    }
  }
  .filters {
    margin-left: 2%;
  }
  .filter-center {
    margin-right: 2%;
  }
}

@media (max-width: 667px) {
  header {
    .container {
      max-width: 270px;
      .header-right {
        .side-bar-menu-burger {
          .side-bar {
            margin-left: -230px;
            width: 270px;
          }
        }
        .user {
          display: none;
        }
        .bag {
          display: none;
        }
      }
    }
  }
  .brand-block {
    .brand-block-container {
      justify-content: center;
      img {
        display: none;
      }
      .text-brand-block {
        padding: 148px 0px 148px 36px;
        .line {
          height: 66px;
        }
        .text-brand {
          max-width: 260px;
          font-size: 12px;
          line-height: 9px;
          h1 {
            font-size: 40px;
          }
        }
      }
    }
  }
  .block-section {
    width: 100%;
    justify-content: center;
    img {
      max-width: 320px;
    }
    .accesorice-img {
      height: 100px;
    }
    .photo-section {
      .accesorice-img {
        width: 320px;
      }
    }
  }
  .card-block {
    max-width: 320px;
    img {
      max-width: 320px;
    }
  }
  .offer-block {
    padding: 48px 0px 81px 0px;

    .offer-card {
      display: inline-block;
      justify-content: center;
    }
    .offer {
      max-width: 360px;
      margin-bottom: 48px;
      padding-left: 0;
    }
    .offer:last-of-type {
      margin-bottom: 0;
    }
  }
  .contact-block {
    .contact-block-contant {
      max-width: 320px;
      display: inline-block;
      margin-left: 5%;
      .contact-right {
        #searchbox {
          margin-top: 32px;
          #email {
            padding: 14px 10px 12px 22px;
          }
        }
      }
    }
  }
  footer {
    .footer-container {
      max-width: 320px;
      flex-flow: wrap-reverse;
      justify-content: center;
    }
  }
  .arrivals {
    .container-cotalog {
      display: block;
      text-align: center;
      .left-arrivals {
        margin-bottom: 32px;
      }
    }
  }
  .filters {
    details {
      max-width: 30px;
      .summary::before {
        display: none;
        z-index: -1;
      }
      .filter_bars {
        background: #ffff;
        width: 310px;
        .filter-chapter-block {
          width: 300px;
        }
        a {
          z-index: 9000000;
        }
      }
    }
  }
  .filter-center {
    details {
      summary {
        margin-left: 10px;
      }
    }
    .checkbox {
      padding-left: 2px;
    }
  }
}
